@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

/* MINIMAL THEME
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";
*/

/* ENTERPRISE THEME
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/enterprise";
*/

@import "tailwindcss";

/* import Flowbite Vue styles */
@import "flowbite-vue/index.css";

/* import Flowbite plugin */
@plugin "flowbite/plugin";

/* add Flowbite Vue directory using @source directive */
@source "../../../node_modules/flowbite-vue";

/* Make dark mode opt-in only */
/* This is to prevents dark mode being occasionally applied to components due to user's 'prefers-color-scheme' settings */
@custom-variant dark (&:where(.dark, .dark *));

/* For vue3-select-component */
:root {
  --vs-menu-height: 50dvh;
}
