@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

/* MINIMAL THEME
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";
*/

/* ENTERPRISE THEME
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/enterprise";
*/

@import "tailwindcss";

/* import Flowbite Vue styles */
@import "flowbite-vue/index.css";

/* import Flowbite plugin */
@plugin "flowbite/plugin";

/* add Flowbite Vue directory using @source directive */
@source "../../../node_modules/flowbite-vue";

/* Make dark mode opt-in only */
/* This is to prevents dark mode being occasionally applied to components due to user's 'prefers-color-scheme' settings */
@custom-variant dark (&:where(.dark, .dark *));

/* For vue3-select-component */
:root {
  --vs-menu-height: 50dvh;
  --vs-font-size: 14px;
}

.skadi-charts-tooltip {
  /* Move smoothly from one position to another */
  --position-transition-duration: 0.1s;
  /* Setting opacity to delay its change prevents the tooltip from simultaneously appearing and moving great distances */
  --opacity-transition-delay: var(--position-transition-duration);
  transition: left var(--position-transition-duration) ease-in-out, top var(--position-transition-duration) ease-in-out, opacity 0s ease-in-out var(--opacity-transition-delay);
}

.tooltip {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.5em;
  opacity: 0.9;
  position: relative;
  top: 40px;
  right: 100px;
  width: max-content;
}

a, button.link {
  color: var(--color-fg-brand);
  text-decoration: underline;
}

button {
  cursor: pointer;
}
