name: Deploy vaxviz-staging
on:
  push:
    branches: ["main", "mrc-6858-heading"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "staging"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      # Vite build needs to know the base url relative to the domain. This defaults to "./" for local dev and for our
      # custom prod sub-domain, but is the project name within vimc.github.io on staging.
      BASE_URL: "/vaxviz-staging"
    steps:
      - name: Set GitHub Actions as Commit Author
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - name: Checkout vaxviz
        uses: actions/checkout@v5
        with:
          path: vaxviz
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24.9.0'
          cache: 'npm'
          cache-dependency-path: vaxviz/package-lock.json
      - name: Checkout vaxviz-staging
        uses: actions/checkout@v5
        with:
          repository: vimc/vaxviz-staging
          path: vaxviz-staging
          token: ${{ secrets.VAXVIZ_STAGING_TOKEN }}
      - name: Build vaxviz
        working-directory: ./vaxviz
        run: ./scripts/build-app.sh
      - name: Copy dist to vaxviz-staging
        run: |
          rm -rf ./vaxviz-staging/dist
          cp -r ./vaxviz/dist/. ./vaxviz-staging/dist
      - name: Push dist changes to vaxviz-staging
        working-directory: ./vaxviz-staging
        run: |
          git checkout main
          git add .
          if ! git diff-index --quiet HEAD; then
            git commit -m "Deploy staging for vaxviz commit $GITHUB_SHA"
            git push origin main
          else
            echo "No changes to dist folder to deploy to staging"
            exit 0
          fi
