name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24.9.0'
          cache: 'npm'
      - name: Install Deps
        run: npm ci
      - name: Run linter
        run: npm run lint
