name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout vaxviz
        uses: actions/checkout@v5
        with:
          path: vaxviz
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Install Deps
        run: npm ci
      - name: Unit tests
        run: npm run test:unit # TODO: coverage